<form method="post" action="/weight/save">
    <div class="container-fluid">
        <input type="hidden" name="saveMethod"
               value="{{#if isCreate}}create{{else}}update{{/if}}"/>

        <div class="form-group row justify-content-center">

            <input type="hidden" name="weightKey" value="{{ weightKey }}"/>
        </div>

        <div class="form-group row mt-3">

        <div class="col-auto text-right font-weight-bold" id="labels">
                <label class="col-form-label" for="date">Date: </label>
            </div>

            <div class="col-auto">
                <input class="form-control" type="date" name="date" value="{{ weightDate }}"/><br/>
            </div>

        </div>

        <div class="form-group row">

        <div class="col-auto text-right font-weight-bold" id="labels">
                <label class="col-form-label" for="pounds">Weight: </label>
            </div>

            <div class="col-4">
                <input class="form-control" type="number" step="0.01" name="pounds" min="1" value="{{ weightPounds }}"/>
            </div>

            <div>
                <label class="col-form-label" for="pounds">lbs.</label>
            </div>
        </div>

        <div class="form-group row mt-3">

            <div class="col-auto text-right font-weight-bold" id="labels">

            <label class="col-form-label" for="body">Diary Entry: </label>
            </div>
            <div class="col-9">
                <textarea class="col-11 form-control" rows=4 name="body">{{ weightBody }}</textarea><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <input class="col-auto" type="submit" value="Submit"/>
        </div>

    </div>
</form>

