
<h3>{{ weightDate }}</h3>
<p>{{ weightBody }}</p>
<p>Key: {{ weightKey }}</p>
<hr/>
<p>
    <span><a href="/weight/destroy?key={{ weightKey }}">Delete Entry</a></span>
    <span><a href="/weight/edit?key={{ weightKey }}">Edit Entry</a></span>
</p>